<fieldset>
    <legend>
        @if (form().value().host) {
        Crea una sala
        } @else {
        Únete
        }
    </legend>

    <input type="text" placeholder="Código de invitación" [field]="form.room"/>

    @if (!nameStep()) {
        <button type="button" (click)="searchRoom()">Siguiente</button>
    } @else {
        <input type="text" [field]="form.name" placeholder="Tu nombre"/>
        <button type="button" (click)="joinRoom()">Entrar</button>
    }

    <p>o bien</p>

    <label class="host">
        @if (form().value().host) {
            Únete a una sala
        } @else {
                    Crea una sala
        }
        <input type="checkbox" [field]="form.host"/>
    </label>
</fieldset>