fieldset {
    display: grid;
    border: 1px solid;
    margin: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    gap: 12px;
    max-width: min(100%, 400px);
    padding-block: 32px;
    padding-inline: 24px;
    width: 100%;

    legend {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        padding-inline: 24px;
    }

    p {
        margin-block: 24px 0;
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        text-align: center;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
            border-bottom: 1px solid;
            height: 1px;
            z-index: 0;
        }

        &:after {
            left: unset;
            right: 0;
        }
    }
}

.host {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 16px 12px;
    background-color: orange;
    border: 2px solid;
    margin-block-start: 24px;

    input {
        appearance: none;
    }
}

input[type="text"] {
    border-radius: 24px;
    padding: 16px 12px;
    outline: none;
    font-size: 16px;
}

button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 16px 12px;
}
