img {
    width: 100%;
    max-height: 150px;
    display: block;
}

p {
    margin-block-start: 0;
    margin-block-end: 4px;
}

.actions {
    display: flex;
    justify-content: flex-start;
    gap: 2px;

    button {
        white-space: nowrap;
    }
}