:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    gap: 16px;

    .opened-windows {
        padding-left: 0;
        list-style: none;
        display: flex;
        gap: 8px;

        li {
            border: 1px solid var(--border-color);
            padding: 4px 16px;
            text-align: left;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: var(--color-neutral-1);
                transform: translateY(-1px);
            }
            &:active {
                transform: translateY(0px);
            }
        }
    }
    .control-center {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-inline-start: auto;
    }
}

#desktop {
    position: relative;
    height: 100%;
    flex: 1;
}

rp-window {
    position: absolute;
    z-index: 1;
}


.desktop-icons {
    position: absolute;
    inset: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    z-index: 0;
    padding: 8px;
    svg {
        width: 48px;
        height: auto;
    }
}