:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
}

rp-desktop {
    display: block;
    flex: 1;
}