    <nav>
        <rp-logo />

        @if (room.anyRoomJoined()) {
            <div style="display: flex; gap: 8px;align-items:center ">
                <span style="text-transform: uppercase;font-size: 20px">Habitación <strong>{{room.getId()}}</strong></span>
                <rp-button variant="text" (click)="leaveRoom()">Leave room</rp-button>
            </div>
        }
    </nav>
    @if (room.anyRoomJoined()) {
        <!--    TODO: make-->
                <!--    <div>-->
                <!--        <span>You are in room "{{ room.getId() }}"</span>-->
                <!--    </div>-->

                <!--    @if (room.availableListeners()) {-->
                <!--        <ul>-->
                <!--            @for (listener of room.availableListeners(); track listener) {-->
                <!--                <li>{{ listener }}</li>-->
                <!--            }-->
                <!--        </ul>-->
                <!--    }-->

        <rp-window title="Nothing playing now">
            <rp-video-searcher/>
            <ntv-video-player [onPlayerStateChange]="onPlayerStateChange"/>
        </rp-window>

    } @else {
        <p>No tengo</p>
    }