@if (room.anyRoomJoined()) {
    <div>
        <span>You are in room "{{ room.getId() }}"</span>
        <button type="button" (click)="leaveRoom()">Leave room</button>
    </div>

    @if (room.availableListeners()) {
        <ul>
            @for (listener of room.availableListeners(); track listener) {
                <li>{{ listener }}</li>
            }
        </ul>
    }

    <rp-video-searcher/>
    <ntv-video-player [onPlayerStateChange]="onPlayerStateChange"/>

} @else {
    <p>No tengo</p>
}
