fieldset {
    display: grid;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    margin: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    gap: 12px;
    max-width: min(100%, 400px);
    padding-block: 32px;
    padding-inline: 24px;
    width: 100%;

    legend {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 4px 16px;
        border: 2px solid var(--border-color);
        border-radius: 4px;
    }

    p {
        margin-block: 24px 0;
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        text-align: center;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
            border-bottom: 1px solid;
            height: 1px;
            z-index: 0;
        }

        &:after {
            left: unset;
            right: 0;
        }
    }
}

.host {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 16px 12px;
    background-color: orange;
    border: 2px solid;
    margin-block-start: 24px;

    input {
        appearance: none;
    }
}

input[type="text"] {
    border-radius: 24px;
    padding: 16px 12px;
    outline: none;
    font-size: 16px;
}

button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 16px 12px;
}


.carousel {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 300vw;
    overflow: clip;
    animation: scroll 12s linear infinite;
    user-select: none;


    >div {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: bolder;

        p, svg {
            font-size: 96px;
        }
        svg {
            height: 72px;
            width: auto;
        }

        p {
            white-space: nowrap;
            margin-block: 0;
        }

    }
}
@keyframes scroll {
    100% {
        transform: translateX(-100vw);
    }

}